$color-primary: #003941;
$color-body: #f7efe7;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* Typography */
::selection {
  background: $color-primary;
  color: $color-body;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-body;
  font-family: 'Crimson Text', serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1,
h2 {
  color: $color-primary;
  line-height: 1.1;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

p {
  margin-top: 0;
}

.Toastify {
  font-size: 1.5rem;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  h1 {
    font-size: 9.6rem;
  }

  h2 {
    font-size: 4.8rem;
  }
}

// Buttons
.btn {
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 2rem;
  margin: 1rem 0;
  outline: 0;
  padding: 1.5rem 4rem;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

.btn--black {
  background-color: #000;
  color: #fff;
}

.btn--black:hover {
  background-color: #111827;
}

.btn--link {
  line-height: 3.2rem;
  background: none;
  border: 0;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .btn {
    line-height: 3rem;
  }

  .btn--link {
    line-height: 2rem;
  }
}

// Header component
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 1.5rem;
}

.header__image {
  display: block;
  height: 60vh;
  object-fit: cover;
  object-position: center 70%;
  width: 100%;
}

.header__content {
  align-items: center;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  text-align: center;
}

.header__content h1 {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 3rem;
  }

  .header__image {
    height: 70vh;
  }
  .header__content {
    height: 30vh;
  }
}

// Products List component
.products-list {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  padding: 2rem;
}

.products-list__product {
  background-color: #fff;
  border-radius: 40px;
  height: 30rem;
  margin: 2rem 0rem;
  overflow: hidden;
  position: relative;
  width: 30rem;
}

.products-list__product:after,
.products-list__product:before {
  background: rgba(0, 0, 0, 0.8);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.products-list__product:after {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  left: 170%;
  opacity: 1;
  top: 0;
  transform: skewX(45deg);
  transition: all 0.5s ease 0s;
  z-index: 1;
}

.products-list__product:hover:before {
  opacity: 1;
}

.products-list__product:hover:after {
  left: -170%;
}

.products-list__product-image {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.products-list__product-content {
  align-content: center;
  align-items: center;
  bottom: -100%;
  display: grid;
  grid-template: 50fr 50fr / 70fr 30fr;
  grid-template-areas:
    'product-name product-name'
    'add-to-cart  price';
  height: 100%;
  justify-content: center;
  justify-items: start;
  left: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  padding: 3.4rem 4.2rem;
  width: 100%;
  z-index: 99;
}

.products-list__product:hover .products-list__product-content {
  bottom: 1.7rem;
}

.products-list__product-name,
.products-list__product-brand,
.products-list__product-btn,
.products-list__product-price {
  color: #fff;
}

.products-list__product-name {
  grid-column: product-name;
  margin-bottom: 0;
  text-transform: capitalize;
}

.products-list__product-brand {
  display: inline-block;
  font-size: 2rem;
  margin-top: 0;
  text-transform: uppercase;
}

.products-list__product-btn {
  align-self: end;
  grid-area: add-to-cart;
}

.products-list__product-price {
  align-self: end;
  font-size: 2.6rem;
  grid-area: price;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .products-list {
    justify-content: center;
  }

  .products-list__product {
    height: 38rem;
    margin: 9.6rem 6.8rem;
    width: 38rem;
  }

  .products-list__product-brand {
    font-size: 3rem;
  }

  .products-list__product-price {
    font-size: 3.6rem;
  }
}
